<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Here </h1>
    <form action="/Register_user" method="post">
        <label for="first_name">Enter Your First Name</label><BR>
        <input type="text" name="first_name">

        <label for="last_name">Enter Your Last name</label><BR>
        <input type="text" name="last_name">



    </form>
</body>
</html>