<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Authors</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                
            </tr>
        </thead>
   
        <tbody>
            {%for authors in author_information %}
                <tr>
                <td>{{authors.id}}</td>
                <td>
                    <a href="/show_author/{{authors.id}}">{{authors.name}}</a>
                    <!-- #make sure u add 2nd slash before numbers evn though it 
                    wok for you without 2nd slash add it because its proper formatting -->
                </td>
                <td>{{authors.created_at}}</td>
                <td>{{authors.updated_at}}</td>
            {%endfor%}
        </tr>
        </tbody>
    </table>

    <form action="add_author" method="post">
    <input type="text" name="name"> 
        <button>Create</button>
    </form>
    
</body>
</html>