<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        {% for author in this_author.our_author%}
            <h1>This is {{author.name}}</h1>
        {%endfor%}
        <table>
            <tr>
                <th>Title</td>
                <th># of pages</td>
            </tr>
            <tbody>
                {%for favorites in authors_fav.this_book%}
                <tr>
                    <td>{{favorites.title}}</td>
                    <td>{{favorites.pages}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <form action="/add_authors_fav" method="post">
            <input type="hidden" name="author_id" value="{{this_author.id}}">
            <!-- #hiding this input so teh user doesnt see it and ogging it in data 
            so we can know what user favorited what  -->
            <p>Add Authors Favorites <select name="book_id">
                <!-- # for option values they always need select tags before it -->
                {% for book in all_books%}
                    <option value={{book.id}}>{{book.title}}</option>
                {%endfor%}
            </select></p>
            <input type="submit" name="submit" value="submit">
        </form>
        <a href="/">home</a>
</body>
</html>