<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add_ninja" method="post">
        <!-- # always add / slash before form name!! -->
        <p>Full Name<input type="text" name="full_name"></p>
        <p>email<input type="text" name="email"></p>
        <p>age<input type="number" name="age"></p>
        <p>Your Dojo<select name="dojo_id">
        <!-- # for option values they always need select tags before it -->
        {% for dojos in all_dojos%}
            <option value={{dojos.id}}>{{dojos.name}}</option>
        {%endfor%}
        </select></p>
        <button>Add Ninja</button>
        <P>{{all_dojos.name}}</P>
    </form>
</body>
</html>