<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Users</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
            <tbody>
                {% for user in all_users%}
                <!-- #our for loops must go outside the tr to include all the data thats stored rather than just one -->
                <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                </tr>
                {%endfor%}
            </tbody>
            <a href="create_user">create user</a>
            <!-- #we just need this link to take use to teh url in our server.py that renders the create.html page -->
        </table>
</body>
</html>